/* CUSTOM PROPS */
:root {
  --green: #5fb4a2;
  --dark-blue: #203a4c;
  --grey-blue: #33323d;
  --light-grey: #fafafa;
  --grey: #eaeaeb;
  --red: #f43030;
  --accent-font-family: "Ibarra Real Nova", "Times New Roman", serif;
  --body-font-family: "Public Sans", "Arial", sans-serif;
}


/* GLOBAL */

html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  font-family: var(--body-font-family);
  font-size: 16px;
  line-height: 1.5;
  height: 100%;
  background-color: var(--light-grey);
  color: var(--grey-blue);
}

img {
  height: auto;
  max-width: 100%;
}

.container {
  width: 100%;
  max-width: 1200px;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: auto;
  margin-right: auto;
}

.main-content {
  flex-grow: 1;
}

.site__header {
  padding-top: 54px;
  padding-bottom: 54px;
}
.site__header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-link {
  margin-right: auto;
}

.logo-link:hover {
  opacity: 0.8;
}

.logo-link:active {
  opacity: 0.6;
}

.logo-img {
  display: block;
  width: 60px;
  height: 32px;
}


.sitenav {
}
.sitenav__list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
}

.sitenav__link:active {
  color: var(--green);
}

.sitenav__item:not(:last-child) {
  margin-right: 42px;
}
.sitenav__link {
  display: block;
  text-decoration: none;
  color: var(--grey-blue);
  font-size: 12px;
  line-height: normal;
  letter-spacing: 2px;
}

.sitenav__link:hover {
  color: rgba(95, 180, 162, 0.8);
}

.sitenav__link:active {
  color: rgba(95, 180, 162, 0.8);
}

.sitenav__item--active .sitenav__link {
  color: var(--green);
}


.hero {
  margin-bottom: 150px;
}

.hero__container {
  position: relative;
}

.hero__img {
  width: 100%;
  max-width: 1140px;
  height: auto;
  /* object-fit: cover; */
}
.hero__info {
  position: absolute;
  bottom: 0;
  padding-top: 56px;
  padding-right: 56px;
  width: 100%;
  max-width: 445px;
  background-color: #fff;
}
.hero__text {
  padding: 0;
  margin: 0;
  font-size: 50px;
  line-height: 50px;
  font-style: var(--accent-font-family);
  font-weight: bold;
  letter-spacing: -0.45px;
  margin-bottom: 53px;
  margin-right: -21px;
}
.button {
  border: 0;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.button:hover {
  color: var(--green);
}


.about-me {
  margin-bottom: 150px;
}

.img-text-info {
  display: flex;
}
.about-me__img {
  width: 540px;
  height: 600px;
  margin-right: 125px;
}

.img-text-info__title {
  margin: 0;
  padding: 0;
  font-size: 40px;
  line-height: 42px;
  letter-spacing: -0.36px;
  font-family: var(--accent-font-family);
  margin-bottom: 70px;
}
.img-text-info__text {
  padding: 0;
  margin: 0;
  line-height: 30px;
  opacity: 0.8;
  margin-bottom: 24px;
}
.button-link {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  padding: 17px 35px;
  color: var(--grey-blue);
  font-size: 12px;
  line-height: normal;
  letter-spacing: 2px;
  border: 1px solid var(--grey-blue);
  transition: background-color 0.4s ease,
  color 0.4s ease;
}

.button-link:hover {
  background-color: var(--grey-blue);
  color: var(--light-grey);
}


.cta {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  margin-bottom: 150px;
}

.cta-heading {
  width: 100%;
  max-width: 350px;
  font-size: 40px;
  line-height: 42px;
  letter-spacing: -0.36px;
  font-family: var(--accent-font-family);
  font-weight: bold;
  padding: 0;
  margin: 0;
}

.divider {
  width: 100%;
  max-width: 525px;
  height: 1px;
  color: var(--grey-blue);
}


.site__footer {
  background-color: var(--grey-blue);
}
.site__footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
}

.logo-nav-footer {
  display: flex;
  align-items: center;
}

.logo-img-footer {
  margin-right: 48px;
}

.sitenav__link-footer {
  color: #fff;
}
.social__list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}
.social__item:not(:last-child) {
  margin-right: 15px;
}
.social__link {
  text-decoration: none;
  color: #fff;
}

.social__link:hover {
  color: var(--green);
}



.projects {
  padding: 0;
  margin: 0;
  padding-top: 54px;
  padding-bottom: 54px;
  list-style: none;
}
.project__item {
  padding: 0;
  margin: 0;
  margin-bottom: 80px;
  display: flex;
  /* justify-content: space-between; */
}

.project__item:nth-child(even) {
  display: flex;
  flex-direction: row-reverse;
}

.project__item:nth-child(even) .project__img {
  margin: 0;
  margin-left: 125px;
}


.project__img {
  width: 540px;
  height: 500px;
  margin-right: 125px;
  width: auto;
  height: auto;
}
.project-description {
  padding: 0;
  margin: 0;
  max-width: 350px;
  border-top: 1px solid rgba(51, 50, 61, 0.15);
}
.project__info-title {
  padding: 0;
  margin: 0;
  font-size: 40px;
  line-height: 42px;
  letter-spacing: -0.36px;
  color: var(--grey-blue);
  margin-bottom: 28px;
  margin-top: 30px;
  font-style: var(--accent-font-family);
}
.project__info-text {
  padding: 0;
  margin: 0;
  line-height: 30px;
  margin-bottom: 24px;
}




@media only screen and (max-width: 768px) {
  .hero__img {
    height: 600px;
    position: relative;
  }

  .hero__info {
    position: absolute;
    bottom: 0;
    /* top: 322px; */
    width: 514px;
  }
  .about-me__img {
    width: 281px;
    margin-right: 70px;
  }
  .project__item:nth-child(even) .project__img {
    margin-left: 70px;
  }


  .project__img {
    width: 340px;
    height: 315px;
    margin-right: 70px;
  }
}

@media only screen and (max-width: 375px) {
  .hero {
    margin-bottom: 96px;
  }

  .hero__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hero__img {
    width: 311px;
    height: 271px;
  }

  .hero__info {
    position: relative;
    width: 311px;
  }
  .hero__text{
    width: auto;
  }
  .img-text-info {
    flex-direction: column;
    align-items: center;
  }

  .about-me {
    margin-bottom: 115px;
  }

  .about-me__img {
    margin: 0;
    width: 311px;
    height: 311px;
    margin-bottom: 32px;
  }

  .cta {
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 80px;
  }

  .cta-heading {
    margin-bottom: 40px;
  }

  .divider {
    display: none;
  }

  .site__footer-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .logo-img-footer {
    margin: 0;
    margin-bottom: 40px;
  }
  .logo-nav-footer {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .logo-link {
    margin: 0;
  }

  .site__footer-sitenav .sitenav__list {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .site__footer-sitenav .sitenav__item {
    display: flex;
    align-items: center;
    text-align: center;
  }

  .site__footer-sitenav .sitenav__item {
    margin-bottom: 40px;
  }
  .projects {
    width: 90%;
    margin-right: 5%;
    margin-left: 5%;
  }
  .project__item {
    display: flex;
    flex-direction: column;
  }
  .project__item:nth-child(even) {
    display: flex;
    flex-direction: column;
  }

  .project__item:nth-child(even) .project__img {
    margin: 0;
  }
  .project__img {
    width: 311px;
    height: 288px;
  }

}